!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title
      = @title
  %body
    %form{:name => "test", id => "test", :action => "/bar", :method => "post", :enctype => "application/json"}
      %fieldset
        %ol
          %li
            %label{:for => "name"} Name:
            %input{:type => "text", :name => "name", :class => "text"}
          %li
            %label{:for => "mail"} email:
            %input{:type => "text", :name => "mail", :class => "text"}
          %li
            %label{:for => "body"} Message:
            %textarea{:name => "body"}
        %input{:type => "submit", :value => "Send", :class => "button"}
    - (@start...@end).each do |i|
      - test = @title + i.to_s()
      %p= test
    %p See, I can count!
    %p= find_and_preserve("Foo\n<pre>Bar\nBaz</pre>")
    %p new options 
    %div#content
      %div.art
        #title 
          %a{:href => 'http://franschocolates.com'} home
        #entry
          = session[:value]